# datbase docker
POSTGRES_DB="database"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
TZ="America/Sao_Paulo"
PGTZ="America/Sao_Paulo"

# database
DB_URL="jdbc:postgresql://postgres:5432/${POSTGRES_DB}"
DB_USER="${POSTGRES_USER}"
DB_PASSWORD="${POSTGRES_PASSWORD}"

# server
SERVER_PORT="8081"

# security
TOKEN_ISSUER=issuer
TOKEN_SECRET=secret
TOKEN_DURATION=15m