# docker general
TZ="America/Sao_Paulo"

# datbase docker
POSTGRES_DB="database"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
PGTZ="America/Sao_Paulo"

# database
DB_URL="jdbc:postgresql://postgres/${POSTGRES_DB}"
DB_USER="${POSTGRES_USER}"
DB_PASSWORD="${POSTGRES_PASSWORD}"

# server
SERVER_PORT="8081"

# web
ALLOWED_ORIGINS="http://localhost,http://localhost:8081"

# profile
PROFILE=dev

# security
API_KEY=password
TOKEN_ISSUER=issuer
TOKEN_SECRET=secret
TOKEN_DURATION=15m